.advortizement {
    background-image: url(../img/Humber_College_LRC_North.jpg);
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
}

.course-container {
    display: grid;
    grid-gap: 1em;
}

.course_block {
    background-color: lightgray;
    text-align: center;
}

.courseimg {
    max-width: 25em;
    max-height: 15em;
}

.type {
    text-align: center;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 0.9375em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 2em;
}

.quote {
    line-height: 1em;
    font-size: 2em;
    padding: 1em;
}

.humber {
    width: 40%;
    height: 30em;
    margin: 1em 2em;
}


/* Tablet */

@media screen and (min-width: 40em) {
    .advortizement {
        background-image: url(../img/Humber_College_LRC_North.jpg);
        background-repeat: no-repeat;
        height: 30em;
        background-size: cover;
    }
    .course-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    .quote {
        line-height: 1em;
        font-size: 2em;
        margin: 1em;
        padding: 1em;
    }
    .humber {
        width: 60%;
        height: 30em;
        margin: 1em 5em;
    }
}


/* Desktop */

@media screen and (min-width: 60em) {
    .advortizement {
        background-image: url(../img/Humber_College_LRC_North.jpg);
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50em;
    }
    .course-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.3em;
        margin: 0 2em;
        align-self: center;
    }
    .course_block {
        background-color: lightgray;
        text-align: center;
    }
    .courseimg {
        min-width: 28em;
        min-height: 18em;
    }
    .quote {
        line-height: 1em;
        font-size: 2em;
        margin: 1em;
        padding: 1em;
    }
    .humber {
        width: 80%;
        height: 50em;
        margin: 1em 12em;
    }
}