html{
  margin: 0;
  padding: 0;

}

body {
  background-color:#edf1f3;
	font: 1em helvetica, sans-serif;
}

.header {

	padding: 1em 0;
}
.router{
	display: grid;
	list-style-type: none;

}
 /* img{
min-width: 15em;
padding-bottom: 25em;
margin-bottom: 20em;
} */
.router li a{
	color: #222222;
}
.main {
	padding: 0 1em;
}

.footer {
	background-color: #222222;
	color: white;
	padding: 1em;
}
.footer li a{
	color: white;
}
.footer p {
	text-align: center;
}

.header img{
  display: inline;
  position: absolute;
    max-width: 4em;
    
  } 
  .router{
    display: grid;
    grid-gap: 0.125em;
		 text-align: right;
		 text-decoration: none;
    /* border: 0.25em  solid black; */
  
  }

  .router li a{
    text-align: right;
  text-decoration: none;
  }

.footer .router{
	display: grid;
	list-style-type: none;
}
.footer  ul{
	display: grid;
	list-style-type: none;

}
 
/* Tablet */
@media screen and (min-width: 40em) {

	.header img{
		display: inline;
		position: absolute;
			max-width: 4em;
			
		} 
		
		.router{
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
			/* border: 0.25em  solid black; */
			/* text-align: right; */
			list-style-type: none;
		}
		.router li a{
		text-decoration: none;
		}
		
		.footer .router{
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			margin-left: 4em;
			grid-gap: 1em;
			list-style-type: none;
		}
		.footer  ul{
			grid-template-columns: 1fr;
			list-style-type: none;
		
		}

		}
		

 
/* Desktop */
@media screen and (min-width: 65em) {
.header{
	color: #222222;
}
.header img{
display: inline;
position: absolute;
	max-width: 4em;
	text-decoration: none;
  
} 

.router{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
	list-style-type: none;
  /* border: 0.25em  solid black; */
	/* text-align: right; */
	list-style-type: none;
	text-align: center;
}
.router img{

padding:0 3em;
}
.router li a{
text-decoration: none;
}

.footer .router{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 4em;
	grid-gap: 1em;
	list-style-type: none;
}

.footer  ul{
	grid-template-columns: 1fr;
	list-style-type: none;

}

}