@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&display=swap');

/*For mobile view*/

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: lightseagreen;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: none;
}

h1 {
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid lightgrey;
}

h3 {
    padding: 0.5em 3em;
    text-align: left;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

th {
    width: 10em;
}

.gen_info {
    padding: 1em 0;
}

.structure {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.8em;
    color: black;
    margin-top: 1em;
    margin-left: 1em;
}

.headbar {
    background-color: lightblue;
    padding: 0.8em 1em;
}

.profile_block {
    text-align: center;
}

.profile_pic {
    height: 70%;
    width: 70%;
    border-radius: 50%;
}

.border_bottom {
    border-bottom: lightgray;
}

.programs {
    margin-left: 1em;
    margin-right: 1em;
    display: grid;
    font-weight: bolder;
    grid-template-columns: 1fr;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid rgb(177, 167, 167);
}

.format {
    background-color: aliceblue;
    /* margin: 0.5em 10em; */
}

@media screen and (min-width: 40em) {
    .profile_pic {
        height: 40%;
        width: 80%;
        border-radius: 50%;
    }
    .format {
        background-color: aliceblue;
        margin: 0.5em 3em;
    }
    .format p {
        font-size: 1.2em;
    }
    .programs {
        margin-left: 7em;
        margin-right: 7em;
        display: grid;
        font-weight: bolder;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid rgb(177, 167, 167);
    }
}

@media screen and (min-width: 65em) {
    .format {
        background-color: aliceblue;
        margin: 0.5em 10em;
    }
    .programs {
        margin-left: 13em;
        margin-right: 13em;
        display: grid;
        font-weight: bolder;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid rgb(177, 167, 167);
    }
    .structure {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 0.8em;
        color: black;
        margin-top: 1em;
        margin-left: 1em;
    }
    .students-image {
        background-image: url("/img/students_banner.jpg");
        background-size: cover;
        width: auto;
        height: 40em;
        background-repeat: no-repeat;
        overflow: hidden;
        opacity: 0.8;
        border-bottom: 2em solid rgb(241, 239, 237);
        box-shadow: 1px 1px 2px 2px rgba(211, 211, 214, 0.5);
    }
}